* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    margin-bottom: 50px;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 4rem;
    padding-bottom: 80px;
    margin-top: 50px;
}

h2 {
    font-family: 'Quicksand';
    font-size: 2rem;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 800px;
    
}


.button-div {
    text-align: center;
}

.btn {
    padding: 10px 40px;
    font-size: 20px;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #999;
}

.btn:hover {background-color: #74ebd5}

.btn:active {
    background-color: #74ebd5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.3);
    background: #e6ebe7;
    border: solid black 2px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#displayContent, #displayInput {
    font-size: 20px;
    font-weight: 600;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

#inputName, #nameSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.3);
    background: #e6ebe7;
    border: solid black 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}

::placeholder {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

input[type=text] {
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

#submitBtn {
    padding: 10px 30px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 9px #999;
}

#submitBtn:hover, #goodbyeBtn:hover {background-color: #acb6e5}

#submitBtn:active, #goodbyeBtn:active {
    background-color: #acb6e5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#nameKeys {
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 250px 250px;
}

#nameKeys button {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

#nameKeys button:hover {
    background-color: #169c84;
    color: white;
}

